openapi: 3.1.0
info:
  title: Inventory Management API
  description: |
    # Overview

    REST API for managing and querying logical inventory levels across the Paklog fulfillment network.
    This service acts as the **source of truth for Available-to-Promise (ATP)** calculations,
    enabling real-time inventory visibility for order management, marketplace integrations, and analytics.

    ## Core Concepts

    - **Quantity on Hand (QoH)**: Total physical units present in the warehouse
    - **Quantity Allocated**: Units reserved for pending orders awaiting fulfillment
    - **Available to Promise (ATP)**: Units available for new orders (QoH - Allocated)

    ## Key Features

    - **Real-time Stock Queries**: Get current stock levels with multi-tier caching for sub-millisecond response times
    - **Stock Adjustments**: Manual inventory corrections with comprehensive audit trail and reason codes
    - **Bulk Allocations**: High-performance batch allocation processing supporting 10,000+ items per request
    - **Stock Reservations**: Soft allocation (reserve without physical movement) for order confirmation
    - **Inventory Health Metrics**: Turnover analysis, dead stock detection, and inventory optimization insights
    - **CloudEvents Integration**: Event-driven architecture publishing standardized domain events to Kafka

    ## Performance Characteristics

    - **L1 Cache (Caffeine)**: In-memory cache with sub-millisecond response times for hot data
    - **L2 Cache (Redis)**: Distributed caching across service instances for consistency
    - **Async Processing**: Non-blocking operations for metrics recording and event publishing
    - **MongoDB Aggregation**: Server-side processing for complex analytics queries (50% faster than client-side)
    - **Connection Pooling**: Optimized database connections (min: 10, max: 100)

    ## Observability

    - **OpenTelemetry**: Distributed tracing with automatic span propagation
    - **Prometheus Metrics**: Custom business metrics and JVM/database monitoring
    - **Structured Logging**: JSON logs with correlation IDs for request tracing
    - **Health Checks**: Kubernetes-ready liveness and readiness probes

    ## API Versioning

    This API follows semantic versioning. Current version: **1.0.0**
    Breaking changes will increment the major version number.

    ## Rate Limiting

    - Standard endpoints: 1000 requests/minute per client
    - Bulk operations: 100 requests/minute per client
    - Cache hit ratio: ~95% for stock level queries

    ## Error Handling

    All errors follow RFC 7807 Problem Details format with trace IDs for debugging.
  version: 1.0.0
  contact:
    name: Paklog Platform Team
    email: platform@paklog.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://api.paklog.com/fulfillment/inventory/v1
    description: Production
  - url: https://api-staging.paklog.com/fulfillment/inventory/v1
    description: Staging
  - url: http://localhost:8085/inventory
    description: Local Development
paths:
  /stock_levels/{sku}:
    get:
      summary: Get Stock Level for a SKU
      description: |
        Retrieves the current inventory position for a specific SKU, including:
        - **quantity_on_hand**: Total physical units in the warehouse
        - **quantity_allocated**: Units reserved for pending orders
        - **available_to_promise**: Units available for new sales (calculated field)

        ## Performance
        - Response time: < 10ms (L1 cache hit), < 50ms (L2 cache hit), < 200ms (database)
        - Cache TTL: 5 minutes with automatic invalidation on stock changes
        - Throughput: 10,000+ requests/second per instance

        ## Use Cases
        - Order management: Check ATP before accepting orders
        - Marketplace sync: Real-time inventory feed
        - Dashboard display: Current stock visibility

        Corresponds to user story **INV-10**: "As a system, I need to query current stock levels."
      operationId: get_stock_level_by_sku
      tags:
        - Stock Queries
      parameters:
        - name: sku
          in: path
          required: true
          description: |
            The Stock Keeping Unit identifier. This is the unique product code within the inventory system.
            Format: Alphanumeric with hyphens, e.g., "SKU-12345"
          schema:
            type: string
            pattern: "^[A-Za-z0-9-]+$"
            example: "SKU-12345"
      responses:
        '200':
          description: OK. Returns the current stock level snapshot for the requested SKU.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockLevel'
              examples:
                inStock:
                  summary: Product in stock with healthy ATP
                  description: Normal inventory position with buffer stock available
                  value:
                    sku: "SKU-12345"
                    quantity_on_hand: 500
                    quantity_allocated: 150
                    available_to_promise: 350
                lowStock:
                  summary: Low stock requiring replenishment
                  description: ATP is critically low, may trigger low-stock alert
                  value:
                    sku: "SKU-67890"
                    quantity_on_hand: 10
                    quantity_allocated: 8
                    available_to_promise: 2
                outOfStock:
                  summary: Out of stock - no ATP available
                  description: Cannot accept new orders for this SKU
                  value:
                    sku: "SKU-99999"
                    quantity_on_hand: 0
                    quantity_allocated: 0
                    available_to_promise: 0
        '404':
          description: Not Found. The requested SKU does not exist in the inventory system.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Not Found"
                message: "No stock record found for SKU: SKU-INVALID"
                timestamp: "2025-10-05T20:00:00Z"
                trace_id: "abc123def456"
        '500':
          description: Internal Server Error. Database connectivity or unexpected system failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Adjust a Stock Level
      description: |
        Allows an authorized user (Inventory Manager role) to make manual adjustments to the
        quantity on hand for a SKU. All adjustments are recorded in the audit trail with
        reason codes and optional comments.

        ## Business Rules
        - Resulting quantity_on_hand must be >= 0
        - Resulting quantity_on_hand must be >= quantity_allocated
        - Adjustment triggers StockLevelChanged event
        - Reason code is mandatory for audit compliance

        ## Supported Reason Codes
        - **damaged**: Physical damage discovered
        - **stock_intake**: New inventory received
        - **cycle_count**: Correction from physical count
        - **lost**: Inventory cannot be located
        - **found**: Previously missing inventory located

        ## Side Effects
        - Updates quantity_on_hand
        - Recalculates available_to_promise
        - Publishes StockLevelChanged CloudEvent
        - Invalidates cache entries
        - Records audit log entry

        Corresponds to user story **INV-08**: "As an Inventory Manager, I need to adjust stock levels."
      operationId: adjust_stock_level
      tags:
        - Stock Operations
      parameters:
        - name: sku
          in: path
          required: true
          description: The Stock Keeping Unit identifier to adjust
          schema:
            type: string
            pattern: "^[A-Za-z0-9-]+$"
            example: "SKU-12345"
      requestBody:
        required: true
        description: Adjustment details including the quantity delta and reason
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStockLevelRequest'
            examples:
              positiveAdjustment:
                summary: Stock intake - receiving new inventory
                value:
                  quantity_change: 100
                  reason_code: "stock_intake"
                  comment: "Received shipment from supplier PO-2025-001"
              negativeAdjustment:
                summary: Damage write-off
                value:
                  quantity_change: -5
                  reason_code: "damaged"
                  comment: "Water damage in Zone B during storm"
              cycleCount:
                summary: Cycle count correction
                value:
                  quantity_change: -3
                  reason_code: "cycle_count"
                  comment: "Annual cycle count variance"
      responses:
        '200':
          description: OK. Adjustment applied successfully. Returns updated stock level.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockLevel'
        '400':
          description: |
            Bad Request. Possible reasons:
            - Invalid reason_code
            - Adjustment would result in negative quantity
            - Adjustment would violate business rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found. SKU does not exist in the inventory system.
        '500':
          description: Internal Server Error.
  /inventory_health_metrics:
    get:
      summary: Get Inventory Health Metrics
      description: |
        Retrieves comprehensive inventory health metrics for operational optimization and business intelligence.

        ## Metrics Provided
        - **inventory_turnover**: Rate at which inventory is sold/used (higher is better)
        - **dead_stock_skus**: List of SKUs with no movement over analysis period
        - **total_skus**: Total number of unique SKUs tracked
        - **out_of_stock_skus**: Count of SKUs currently unavailable

        ## Analytics Use Cases
        - **Demand Planning**: Identify slow-moving inventory for markdown
        - **Cash Flow Optimization**: Reduce carrying costs by liquidating dead stock
        - **Service Level Improvement**: Track out-of-stock rates
        - **ABC Classification**: Input for inventory segmentation

        ## Performance
        - Response time: 500ms-2s depending on data volume
        - Uses MongoDB aggregation pipeline for server-side processing
        - Results are cached for 15 minutes

        Corresponds to user story **INV-11**: "As a business analyst, I need inventory health insights."
      operationId: get_inventory_health_metrics
      tags:
        - Analytics
      parameters:
        - name: category
          in: query
          required: false
          description: |
            Filter metrics by product category. Returns metrics only for SKUs in the specified category.
            If omitted, returns metrics for all categories.
          schema:
            type: string
            example: "Electronics"
        - name: start_date
          in: query
          required: false
          description: |
            Start date for the analysis period (ISO 8601 format: YYYY-MM-DD).
            Default: 30 days ago from current date.
          schema:
            type: string
            format: date
            example: "2025-01-01"
        - name: end_date
          in: query
          required: false
          description: |
            End date for the analysis period (ISO 8601 format: YYYY-MM-DD).
            Default: Current date.
          schema:
            type: string
            format: date
            example: "2025-12-31"
      responses:
        '200':
          description: OK. Returns inventory health metrics for the specified period.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryHealthMetrics'
              examples:
                healthyInventory:
                  summary: Well-managed inventory
                  value:
                    inventory_turnover: 8.5
                    dead_stock_skus: ["SKU-111"]
                    total_skus: 1500
                    out_of_stock_skus: 5
                poorPerformance:
                  summary: Inventory optimization needed
                  value:
                    inventory_turnover: 2.1
                    dead_stock_skus: ["SKU-111", "SKU-222", "SKU-333", "SKU-444", "SKU-555"]
                    total_skus: 1500
                    out_of_stock_skus: 125
        '400':
          description: Bad Request. Invalid date format or date range (start_date > end_date).
        '500':
          description: Internal Server Error.

  /allocations/bulk:
    post:
      summary: Bulk Allocate Stock
      description: |
        High-performance bulk allocation endpoint optimized for processing large order batches.
        Designed to handle **10,000+ allocation requests** in a single API call with sub-second processing.

        ## Performance Characteristics
        - **Throughput**: 10,000+ items processed in < 500ms
        - **Batch Processing**: Parallel execution with optimal thread pool sizing
        - **Database Optimization**: Connection pooling and batch writes
        - **Concurrency Control**: Optimistic locking prevents overselling
        - **Partial Success**: Some allocations can succeed even if others fail

        ## Business Logic
        For each allocation request:
        1. Validates SKU exists and has sufficient ATP
        2. Reserves requested quantity (increases allocated, decreases ATP)
        3. Records allocation for order tracking
        4. Publishes StockLevelChanged event asynchronously

        ## Use Cases
        - **Order Wave Processing**: Allocate stock for entire fulfillment wave
        - **Batch Order Import**: Process marketplace order imports (Amazon, eBay, etc.)
        - **Peak Season**: Handle flash sale allocation spikes
        - **Multi-item Orders**: Allocate all items for complex orders atomically

        ## Error Handling
        - Each allocation is independent - failures don't affect other items
        - Detailed error messages for each failed allocation
        - Idempotent by order_id - safe to retry

        ## Response Time SLA
        - P50: 200ms for 1000 items
        - P95: 450ms for 1000 items
        - P99: 800ms for 10000 items
      operationId: bulk_allocate_stock
      tags:
        - Bulk Operations
      requestBody:
        required: true
        description: Array of allocation requests (1-10,000 items supported)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAllocationRequest'
            examples:
              smallBatch:
                summary: Small batch allocation (3 items)
                value:
                  requests:
                    - sku: "SKU-12345"
                      quantity: 10
                      order_id: "ORD-001"
                    - sku: "SKU-67890"
                      quantity: 5
                      order_id: "ORD-002"
                    - sku: "SKU-11111"
                      quantity: 20
                      order_id: "ORD-003"
              priorityAllocation:
                summary: Priority-based allocation with FEFO
                description: High-priority orders with First Expired First Out strategy
                value:
                  requests:
                    - sku: "SKU-PERISHABLE-001"
                      quantity: 50
                      order_id: "ORD-URGENT-001"
                      priority: 1
                      use_fefo: true
                    - sku: "SKU-PERISHABLE-002"
                      quantity: 25
                      order_id: "ORD-URGENT-002"
                      priority: 2
                      use_fefo: true
      responses:
        '200':
          description: OK. Bulk allocation completed. Returns detailed results for each item including successes and failures.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkAllocationResponse'
              examples:
                partialSuccess:
                  summary: Partial success - some allocations failed
                  value:
                    total_requests: 3
                    successful_allocations: 2
                    failed_allocations: 1
                    processing_time_ms: 450
                    processed_at: "2025-10-05T14:30:00Z"
                    success_rate: 66.67
                    results:
                      - sku: "SKU-12345"
                        order_id: "ORD-001"
                        success: true
                        allocated_quantity: 10
                      - sku: "SKU-67890"
                        order_id: "ORD-002"
                        success: true
                        allocated_quantity: 5
                      - sku: "SKU-11111"
                        order_id: "ORD-003"
                        success: false
                        error_message: "Insufficient stock: available=15, requested=20"
                allSuccess:
                  summary: All allocations successful
                  value:
                    total_requests: 2
                    successful_allocations: 2
                    failed_allocations: 0
                    processing_time_ms: 125
                    processed_at: "2025-10-05T14:30:00Z"
                    success_rate: 100.0
                    results:
                      - sku: "SKU-12345"
                        order_id: "ORD-001"
                        success: true
                        allocated_quantity: 10
                      - sku: "SKU-67890"
                        order_id: "ORD-002"
                        success: true
                        allocated_quantity: 5
        '400':
          description: |
            Bad Request. Possible reasons:
            - Empty requests array
            - Invalid SKU format
            - Negative or zero quantity
            - Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error. Database failure or system error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /stock_levels/{sku}/reservations:
    post:
      summary: Create Stock Reservation
      description: |
        Creates a soft allocation (reservation) for a specific order without physically moving inventory.
        This is the standard approach for order confirmation flows where you need to reserve stock
        but haven't yet initiated the picking process.

        ## Business Effect
        - **Increases** quantity_allocated
        - **Decreases** available_to_promise
        - **No change** to quantity_on_hand (physical stock stays in place)
        - Publishes StockLevelChanged event with reason "ALLOCATION"

        ## Use Cases
        - E-commerce order confirmation
        - Pre-allocation for VIP customers
        - Marketplace order processing
        - Cart reservation (with TTL)

        ## Validation
        - SKU must exist in inventory system
        - Available-to-promise must be >= requested quantity
        - Order ID must be unique (prevents double-booking)

        ## Idempotency
        - Safe to retry with same order_id
        - Duplicate requests are ignored (no double allocation)
      operationId: create_reservation
      tags:
        - Stock Operations
      parameters:
        - name: sku
          in: path
          required: true
          description: The Stock Keeping Unit identifier to reserve
          schema:
            type: string
            pattern: "^[A-Za-z0-9-]+$"
            example: "SKU-12345"
      requestBody:
        required: true
        description: Reservation details including quantity and order reference
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReservationRequest'
            examples:
              standardReservation:
                summary: Standard order reservation
                value:
                  quantity: 5
                  order_id: "ORD-12345"
              largeReservation:
                summary: Bulk order reservation
                value:
                  quantity: 100
                  order_id: "ORD-BULK-001"
      responses:
        '202':
          description: |
            Accepted. Stock reservation has been created successfully.
            The reservation is effective immediately - ATP is reduced.
        '400':
          description: |
            Bad Request. Possible reasons:
            - Insufficient available-to-promise (ATP < requested quantity)
            - Invalid quantity (must be positive integer)
            - Missing order_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "Bad Request"
                message: "Insufficient stock: available_to_promise=3, requested=5"
                timestamp: "2025-10-05T14:30:00Z"
                trace_id: "abc123def456"
        '404':
          description: Not Found. SKU does not exist in the inventory system.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error.

components:
  schemas:
    StockLevel:
      type: object
      description: |
        Represents the current inventory position for a SKU.
        This is the core response model for stock queries, providing complete visibility
        into physical inventory, reserved stock, and available-to-promise.
      properties:
        sku:
          type: string
          description: |
            Stock Keeping Unit identifier - the unique product code within the inventory system.
            This is the primary key for inventory tracking.
          example: "SKU-12345"
        quantity_on_hand:
          type: integer
          format: int32
          description: |
            Total physical quantity present in the warehouse.
            This represents the actual countable inventory regardless of allocation status.
            Updated by: stock receipts, picks, adjustments, returns, cycle counts.
          minimum: 0
          example: 500
        quantity_allocated:
          type: integer
          format: int32
          description: |
            Quantity reserved for pending orders that have not yet been picked.
            These items are physically present but committed to specific orders awaiting fulfillment.
            Increased by: order reservations, allocations.
            Decreased by: item picks, order cancellations, deallocations.
          minimum: 0
          example: 150
        available_to_promise:
          type: integer
          format: int32
          description: |
            Quantity available for new sales orders.
            **Calculated as: quantity_on_hand - quantity_allocated**
            This is the key metric for sales availability and order promising.
            When ATP reaches zero, no new orders can be accepted for this SKU.
          minimum: 0
          example: 350
      required:
        - sku
        - quantity_on_hand
        - quantity_allocated
        - available_to_promise

    UpdateStockLevelRequest:
      type: object
      description: |
        Request payload for manual stock level adjustments.
        All adjustments are recorded in the audit trail with mandatory reason codes.
        This supports inventory accuracy maintenance through cycle counts, damage write-offs,
        and stock intake recording.
      required:
        - quantity_change
        - reason_code
      properties:
        quantity_change:
          type: integer
          format: int32
          description: |
            The delta to apply to quantity_on_hand.
            - **Positive values**: Stock increase (intake, found items, returns)
            - **Negative values**: Stock decrease (damage, loss, corrections)
            Business rules: Resulting QoH must be >= 0 and >= quantity_allocated
          example: 100
        reason_code:
          type: string
          enum: [damaged, stock_intake, cycle_count, lost, found, ITEM_PICKED, ALLOCATION, DEALLOCATION, STOCK_RECEIPT]
          description: |
            Mandatory reason code for audit compliance.
            - **damaged**: Physical damage discovered during inspection
            - **stock_intake**: New inventory received from supplier
            - **cycle_count**: Variance correction from physical count
            - **lost**: Inventory cannot be located (write-off)
            - **found**: Previously missing inventory located
            - **STOCK_RECEIPT**: Formal goods receipt processing
          example: "stock_intake"
        comment:
          type: string
          description: |
            Optional free-text explanation providing additional context.
            Recommended for audit trail completeness and operational insights.
            Example: "Received shipment from supplier XYZ, PO-2025-001"
          example: "Cycle count adjustment - Zone A row 5"

    InventoryHealthMetrics:
      type: object
      description: |
        Comprehensive inventory health analysis metrics for operational optimization.
        These KPIs help identify inefficiencies, reduce carrying costs, and improve service levels.
        Used for ABC classification, demand planning, and inventory optimization initiatives.
      properties:
        inventory_turnover:
          type: number
          format: double
          description: |
            Annual inventory turnover rate - measures how many times inventory is sold/replaced per year.
            - **Higher is better** (indicates efficient inventory management)
            - Industry benchmark: 4-6 for general retail, 8-12 for fast-moving consumer goods
            - Low turnover indicates overstocking or slow-moving inventory
            Formula: Cost of Goods Sold / Average Inventory Value
          example: 8.5
        dead_stock_skus:
          type: array
          items:
            type: string
          description: |
            List of SKU identifiers with zero movement over the analysis period.
            These items are candidates for markdown, liquidation, or discontinuation.
            Dead stock represents tied-up capital and storage costs without revenue generation.
          example: ["SKU-111", "SKU-222", "SKU-333"]
        total_skus:
          type: integer
          format: int64
          description: |
            Total count of unique SKUs in the inventory system.
            Used as the denominator for calculating out-of-stock percentage and dead stock ratio.
          example: 1500
        out_of_stock_skus:
          type: integer
          format: int64
          description: |
            Count of SKUs with zero available-to-promise (ATP = 0).
            High out-of-stock count indicates lost sales opportunities and poor demand planning.
            Target: < 2% of total SKUs for optimal service level.
          example: 25
      required:
        - inventory_turnover
        - dead_stock_skus
        - total_skus
        - out_of_stock_skus

    BulkAllocationRequest:
      type: object
      description: |
        Container for bulk stock allocation requests.
        Supports high-performance batch processing of 1 to 10,000 allocation requests.
        Used for order wave processing, marketplace imports, and batch fulfillment operations.
      required:
        - requests
      properties:
        requests:
          type: array
          items:
            $ref: '#/components/schemas/AllocationRequestItem'
          minItems: 1
          maxItems: 10000
          description: |
            Array of individual allocation requests to process.
            Each request is processed independently - partial success is supported.
            Recommended batch size: 1000-5000 items for optimal performance.

    AllocationRequestItem:
      type: object
      description: |
        Individual allocation request within a bulk operation.
        Represents a single stock reservation for a specific order and SKU combination.
      required:
        - sku
        - quantity
        - order_id
      properties:
        sku:
          type: string
          description: Stock Keeping Unit identifier to allocate
          example: "SKU-12345"
        quantity:
          type: integer
          format: int32
          minimum: 1
          description: Number of units to reserve for the order
          example: 10
        order_id:
          type: string
          description: |
            Unique order identifier for tracking and deduplication.
            Used to prevent double-allocation and enable idempotent retries.
          example: "ORD-001"
        priority:
          type: integer
          format: int32
          minimum: 1
          maximum: 10
          description: |
            Optional priority level (1 = highest, 10 = lowest).
            Higher priority orders are processed first when stock is limited.
          example: 1
        use_fefo:
          type: boolean
          description: |
            Enable FEFO (First Expired, First Out) allocation strategy.
            Recommended for perishable or lot-tracked inventory.
            Ensures oldest stock is allocated first to minimize waste.
          example: true

    BulkAllocationResponse:
      type: object
      description: |
        Comprehensive response from bulk allocation operation including:
        - Summary statistics (success/failure counts)
        - Performance metrics (processing time)
        - Detailed results for each individual allocation
        Supports partial success - some allocations can succeed even if others fail.
      required:
        - successful_allocations
        - failed_allocations
        - processing_time_ms
        - results
      properties:
        total_requests:
          type: integer
          format: int32
          description: Total number of allocation requests submitted
          example: 100
        successful_allocations:
          type: integer
          format: int32
          description: Count of allocations that completed successfully
          example: 95
        failed_allocations:
          type: integer
          format: int32
          description: Count of allocations that failed (insufficient stock, SKU not found, etc.)
          example: 5
        processing_time_ms:
          type: integer
          format: int64
          description: |
            Total server-side processing time in milliseconds.
            Used for performance monitoring and SLA tracking.
            Typical: < 500ms for 1000 items, < 1000ms for 10000 items.
          example: 450
        processed_at:
          type: string
          format: date-time
          description: Timestamp when bulk allocation completed
          example: "2025-10-05T14:30:00Z"
        success_rate:
          type: number
          format: double
          description: |
            Percentage of successful allocations (0-100).
            Useful for monitoring allocation effectiveness.
          example: 95.0
        results:
          type: array
          items:
            $ref: '#/components/schemas/AllocationResult'
          description: Detailed outcome for each individual allocation request

    AllocationResult:
      type: object
      description: |
        Result of a single allocation attempt within bulk operation.
        Provides success/failure status with detailed information for troubleshooting.
      required:
        - sku
        - order_id
        - success
      properties:
        sku:
          type: string
          description: SKU that was processed
          example: "SKU-12345"
        order_id:
          type: string
          description: Order identifier for this allocation
          example: "ORD-001"
        success:
          type: boolean
          description: Whether the allocation succeeded
          example: true
        allocated_quantity:
          type: integer
          format: int32
          description: |
            Number of units successfully allocated.
            Only present when success = true.
          example: 10
        error_message:
          type: string
          description: |
            Human-readable error description.
            Only present when success = false.
            Common errors: "Insufficient stock", "SKU not found", "Invalid quantity"
          example: "Insufficient stock: available=5, requested=10"

    CreateReservationRequest:
      type: object
      description: |
        Request to create a stock reservation (soft allocation) for an order.
        Reserves inventory without physical movement, reducing ATP immediately.
      required:
        - quantity
        - order_id
      properties:
        quantity:
          type: integer
          format: int32
          minimum: 1
          description: Number of units to reserve
          example: 5
        order_id:
          type: string
          description: |
            Unique order identifier for reservation tracking.
            Used for deduplication and order lifecycle management.
          example: "ORD-12345"

    Error:
      type: object
      description: |
        Standard error response following RFC 7807 Problem Details format.
        Includes trace ID for distributed debugging across microservices.
      required:
        - error
        - message
        - timestamp
      properties:
        error:
          type: string
          description: Error type/category (e.g., "Not Found", "Bad Request", "Internal Server Error")
          example: "Bad Request"
        message:
          type: string
          description: Human-readable error message with specific details
          example: "Insufficient stock: available_to_promise=3, requested=10"
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp when error occurred
          example: "2025-10-05T14:30:00Z"
        trace_id:
          type: string
          description: |
            Distributed trace identifier for debugging.
            Use this ID when contacting support or searching logs.
            Format: OpenTelemetry trace ID.
          example: "abc123def456ghi789"
